
@{
    @model First_MVC_Test.Models.Person;
}

<h2>Usuario  @Html.DisplayFor(model => model.Id)</h2>
<ul>
    <li>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</li>
    <li>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</li>
    <li>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</li>
</ul>

<ul>
    
</ul>